<footer>
  Copyright &copy; Blog Grishma 2022
  <hr>
  <a class="socialLinks" href="https://github.com/Gr1shma" target="_blank"><img src="/github.svg" alt="github-icon"></a>
  <a class="socialLinks" href="https://twitter.com/grishma_dhakal" target="_blank"><img src="/twitter.svg" alt=""></a>
</footer>